/* AboutUs.css */

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .about-us h2 {
    margin-bottom: 20px;
  }
  
  .about-us p {
    max-width: 750px;
  }

  @media (max-width: 600px) {
    .about-us {
      margin: 5px;
      padding: 5px;
    }
  }