/* AboutUs.css */

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 100px 20px;
    padding: 20px;
    text-align: justify;
  }
  
  .about-us h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 22px;
    word-spacing: 2px;
  }
  
  .about-us p {
    max-width: 750px;
    font-size: 18px;
    font-style: italic;
    line-height: 1.7;
  }

  @media (max-width: 600px) {
    .about-us {
      margin: 5px 20px 90px 20px;
      padding: 5px;
    }
    
    .about-us h2 {
      font-size: 17px;
      line-height: 1.5;
    }
    
    .about-us p {
      font-size: 15px;
      line-height: 1.5;      
    }
  }