/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: white;
  z-index: 1;
}

.navbar-section {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 38%;
}

.navbar-brand {
  font-size: 2em;
  color: white;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  padding: 10px;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
}

.navbar-links a, .logout-btn {
  color: white;
  text-decoration: none;
}

/* Media query for screens less than 600px */
@media (max-width: 600px) {
  body.overflow-hidden {
    overflow: hidden;
  }

  .navbar-section {
    justify-content: end;
  }

  .navbar-links {
    position: fixed;
    right: 0;
    height: 100%;
    top: calc(30px + 1.7em);
    background-color: #414141;
    display: flex;
    padding-top: 2em;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%; 
    transform: translateX(100%);
    z-index: 1000;
  }

  .navbar-links.show-nav {
    transform: translateX(0);
  }

  .navbar-links a {
    font-size: 2em;
    width: 70%; 
    padding: 0.5em;
    letter-spacing: 1.5px;
    text-align: center;
    margin-left: 7%;
    border-bottom: solid;
    border-color: #333;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 25px;
  }
}

@media (min-width: 601px) {
  .menu-icon {
    display: none;
  }
}

.logout-btn {
  font-size: 1em;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}