/* Register.css */

.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: auto;
    padding: 20px;
  }
  
  .register-form input, .register-form button {
    padding: 10px;
  }
  
  .register-form button {
    cursor: pointer;
  }
  