/* Register.css */

.register-form {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 300px;
  margin: auto;
  padding: 40px;
}

.register-form input, .register-form button {
  padding: 10px;
}

.register-form button {
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field p.field-error {
  color: red;
  margin-top: 5px;
  font-size: 0.8rem;
  height: 1rem;
  margin-bottom: 0px;
  transition: margin-bottom 0.3s ease;
}

.input-field p.field-error-visible {
  margin-bottom: 15px;
}

.checkbox-container {
  display: flex;
  align-items: start;
  gap: 10px;
  flex-direction: row;
}

.checkbox-container span {
  order: 2;
}

.field-error {
  color: red;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 0.8rem;
  flex-direction: column;
  align-items: end;
  height: 1rem;
  margin-bottom: 0px;
  transition: margin-bottom 0.3s ease;
}

.field-error-visible {
  margin-bottom: 15px;
}

.register-form .error-message {
  width: 94%;
}

.register-links {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 2px;
  font-size: smaller;
  letter-spacing: 1px;
}

.register-links a {
  text-decoration: none;

}

@media (max-width: 600px) {
  .register-links {
    align-items: end;
    gap: 5px;
  }

  .register-form {
    width: 80%;
    padding: 40px 0 0 0;
  }
}