/* SearchForm.css */

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 40px 0;

}

.search-form input, .search-form button {
  padding: 10px;
}

.search-form button {
  cursor: pointer;
}

/* Media query for screens less than 600px */
@media (max-width: 600px) {
  .search-form {
    flex-direction: column;
    align-items: center;
  }

  .search-form input, .search-form button {
    width: 80%;
    box-sizing: border-box;
  }
}