/* SearchForm.css */
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}

.search-form .description-container {
  width: 40%;
  text-align: center;
}

.description-container h3 {
  text-transform: uppercase;
}

.search-form .input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 60%;
}

.search-form input, .search-form button {
  padding: 10px;
}

.search-form button {
  cursor: pointer;
}

@media (max-width: 600px) {
  .search-form .description-container,
  .search-form .input-container {
    width: 80%;
  }

  .description-container p {
    line-height: 2;
    margin-top: 0em;
  }

  .search-form .input-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-form input, .search-form button {
    width: 100%;
    box-sizing: border-box;
  }
}